{% extends 'base.html' %}
{% load static %}

{%  block content %}

		<!--**********************************
            Content body start
        ***********************************-->

    <div class="content-body">
            <!-- row -->
            <div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="#">Apporteur</a></li>
						<li class="breadcrumb-item"><a href="#">Nouvel apporteur</a></li>
					</ol>
            </div>
			<div class="container-fluid">
			<div class="row btnadd">
				<div class="col-lg-2"><a href="../assures/assure-nouveau.html"><i class="bi bi-person"></i> Assuré</a></div>
				<div class="col-lg-2"><a href="../assures/assure-nouveau.html"><i class="bi bi-people"></i> Affilié</a></div>
				<div class="col-lg-2"><a href="../assureurs/assureur-nouveau.html"><i class="bi bi-shop"></i> Compagnie</a></div>
				<div class="col-lg-2"><a href="../courtiers/courtier-nouveau.html"><i class="bi bi-file-person"></i> Courtier</a></div>
				<div class="col-lg-2 active"><a href="../apporteurs/apporteur-nouveau.html"><i class="bi bi-building"></i> Apporteur</a></div>
				<div class="col-lg-2"><a href="#"><i class="bi bi-person-circle"></i> Autre</a></div>
			</div>
			<form class="needs-validation" novalidate="">
                {{ form }}
				<div class="row">
                    <div class="col-lg-12">
                        <div class="card">
							<div class="card-header"><h4 class="card-title">Apporteur</h4></div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="needs-validation" novalidate="">
                                        <div class="row">
                                        	<div class="col-lg-12">
												<label for="{{ form.Image.id_for_label }}" class="col-lg-12 col-form-label">Image de profil</label>
	                                            <div class="col-lg-12">
	                                                <input id="{{ form.Image.id_for_label }}" name="{{ form.Image.html_name }}" {% if form.Image.value %}value="{{ form.Image.value }}"{% endif %} type="file" class="form-file-input form-control" style="padding: 10px 16px;">
                                                    {% if form.nom.errors %}
                                                        {% for error in form.nom.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
	                                            </div>
	                                        </div>

	                                        <div class="col-lg-3">
                                                    <label for="{{ form.StatSc.id_for_label }}"  class="col-lg-12 col-form-label">Forme sociale</label>
                                                    <div class="col-lg-12">
						                                {{ form.StatSc }}
                                                        {% if form.StatSc.errors %}
                                                        {% for error in form.StatSc.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}

                                                    </div>
                                        	</div>
                                        	<div class="col-lg-5">
                                                    <label for="{{ form.DenoSc.id_for_label }}" class="col-lg-12 col-form-label">Dénomination sociale<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.DenoSc.id_for_label }}" name="{{ form.DenoSc.html_name }}" {% if form.DenoSc.value %}value="{{ form.DenoSc.value }}"{% endif %}  type="text" class="form-control" placeholder="" required="">
                                                        {% if form.DenoSc.errors %}
                                                        {% for error in form.DenoSc.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-4">
                                                    <label for="{{ form.Siren.id_for_label }}" class="col-lg-12 col-form-label">SIREN<span class="text-danger">*</span></label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Siren.id_for_label }}" name="{{ form.Siren.html_name }}" {% if form.Siren.value %}value="{{ form.Siren.value }}"{% endif %} type="number" class="form-control" placeholder="" required="">
                                                     {% if form.Siren.errors %}
                                                        {% for error in form.Siren.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                     {% endif %}
                                                    </div>
                                            </div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.Adress_siege1.id_for_label }}" class="col-lg-12 col-form-label">Adresse 1</label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Adress_siege1.id_for_label }}" name="{{ form.Adress_siege1.html_name }}" {% if form.Adress_siege1.value %}value="{{ form.Adress_siege1.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                     {% if form.Adress_siege1.errors %}
                                                        {% for error in form.Adress_siege1.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                     {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.Adress_siege2.id_for_label }}" class="col-lg-12 col-form-label">Adresse 1</label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Adress_siege2.id_for_label }}" name="{{ form.Adress_siege2.html_name }}" {% if form.Adress_siege2.value %}value="{{ form.Adress_siege2.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                     {% if form.Adress_siege2.errors %}
                                                        {% for error in form.Adress_siege2.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                     {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.Adress_siege3.id_for_label }}" class="col-lg-12 col-form-label">Adresse 1</label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Adress_siege3.id_for_label }}" name="{{ form.Adress_siege3.html_name }}" {% if form.Adress_siege3.value %}value="{{ form.Adress_siege3.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                     {% if form.Adress_siege3.errors %}
                                                        {% for error in form.Adress_siege3.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                     {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.CP.id_for_label }}" class="col-lg-12 col-form-label">Code postal<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.CP.id_for_label }}" name="{{ form.CP.html_name }}" {% if form.CP.value %}value="{{ form.CP.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                     {% if form.CP.errors %}
                                                        {% for error in form.CP.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                     {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.City.id_for_label }}" class="col-lg-12 col-form-label">Ville<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.City.id_for_label }}" name="{{ form.City.html_name }}" {% if form.City.value %}value="{{ form.City.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                        {% if form.City.errors %}
                                                        {% for error in form.City.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-2">
                                                    <label for="{{ form.Country.id_for_label }}" class="col-lg-12 col-form-label" for="validationCustom01">Pays<span class="text-danger">*</span></label>
                                                    <div class="col-lg-12">
														{{ form.Country }}
                                                        {% if form.Country.errors %}
                                                        {% for error in form.Country.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                            </div>
                                            <div class="col-lg-6">
                                                    <label for="{{ form.Email.id_for_label }}" class="col-lg-12 col-form-label">E-Mail<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Email.id_for_label }}" name="{{ form.Email.html_name }}" {% if form.Email.value %}value="{{ form.Email.value }}"{% endif %} type="text" class="form-control" placeholder="" required="">
                                                        {% if form.Email.errors %}
                                                        {% for error in form.Email.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-6">
                                                    <label for="{{ form.Mdp.id_for_label }}" class="col-lg-12 col-form-label">Mot de passe<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-12">
                                                        <input id="{{ form.Mdp.id_for_label }}" name="{{ form.Mdp.html_name }}" {% if form.Mdp.value %}value="{{ form.Mdp.value }}"{% endif %} type="password" class="form-control" placeholder="" required="">
                                                        {% if form.Mdp.errors %}
                                                        {% for error in form.Mdp.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-12">
												<label for="{{ form.Convention.id_for_label }}" class="col-lg-12 col-form-label">Convention d'apporteur</label>
	                                            <div class="col-lg-12">
	                                                <input id="{{ form.Convention.id_for_label }}" name="{{ form.Convention.html_name }}" {% if form.Convention.value %}value="{{ form.Convention.value }}"{% endif %} type="file" class="form-file-input form-control" style="padding: 10px 16px;">
	                                            </div>
	                                        </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
							<div class="card-header"><h4 class="card-title">Rémunération</h4></div>
                            <div class="card-body">
                                <div class="form-validation">
                                    
                                        <div class="row">
                                        	<div class="col-lg-6">
                                                    <label class="col-lg-12 col-form-label">Type de rémunération (En %)</label>
                                                    <div class="col-lg-12">
						                                <select id="typerem" class="dropdown-groups form-select" onchange="findmyvalue()">
						                                	<option value="">Choisir le type de rémunération</option>
						                                    <option value="cocourtage">Co-courtage</option>
						                                    <option value="extraprime">Extra-prime</option>
						                                </select>
                                                    </div>
                                        	</div>
		                                    <script type="text/javascript">
											function findmyvalue() {
											var myval = document.getElementById("typerem").value;
											var element = document.getElementById("tauxrem");
											 		if (myval == 'cocourtage') {
														element.classList.remove('extraprime');
														element.classList.add('cocourtage');
													} else if (myval == 'extraprime') {
														element.classList.remove('cocourtage');
														element.classList.add('extraprime');
													}
													else {
														element.classList.remove('cocourtage');
														element.classList.remove('extraprime');
													}
											}
											</script>
											<div id="tauxrem" class="col-lg-6">
                                        	<div class="col-lg-12 cocourtage">
                                                    <label class="col-lg-12 col-form-label">Taux Co-courtage</label>
                                                    <div class="col-lg-12">
						                                  <input type="number" class="form-control" placeholder="">
                                                    </div>
                                        	</div>
                                        	<div class="col-lg-12 extraprime">
                                                    <label class="col-lg-12 col-form-label">Extraprime</label>
                                                    <div class="col-lg-12">
						                                 <input type="number" class="form-control" placeholder="">
                                                    </div>
                                        	</div>
                                        	</div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 parent-div">
                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Ajouter un interlocuteur</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Ajouter un interlocuteur</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Service</label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="">
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Fonction</label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="">
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Nom de l’interlocuteur<span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="" required="">
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Prénom de l’interlocuteur<span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="" required="">
                                                                </div>
                                                        </div>

                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Email<span class="text-danger">*</span></label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="" required="">
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Tél mobile<span class="text-danger">*</span></label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="" required="">
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                                <label class="col-lg-12 col-form-label">Tél fixe</label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" placeholder="">
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Fermer</button>
                                                    <button type="button" class="btn btn-primary">Enregistrer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                    </div>
                    <div class="col-lg-12">
                                         <div class="col-lg-12 ms-auto">
                                            <button type="submit" class="btn btn-primary valider">Valider</button>
                                         </div>
                    </div>
				</div>
			</form>
            </div>
			
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
{% endblock %}