{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
            Content body start
 ***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Gestion</a></li>
            <li class="breadcrumb-item"><a href="#">Banques</a></li>
        </ol>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">

                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="col-lg-12 col-form-label">Libellé de la banque</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-lg-12 col-form-label">Domiciliation bancaire</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-lg-12 col-form-label">Code journal</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-lg-12 col-form-label">Code Comptable</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="col-lg-12 col-form-label">IBAN</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-lg-12 col-form-label">BIC</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-lg-12 col-form-label">Devise</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <button type="submit" class="btn btn-primary valider" style="margin-top: 32px;">
                                        Ajouter
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="taffe" class="display" style="min-width: 845px">
                                <thead>
                                <tr>
                                    <th>Libellé</th>
                                    <th>Domiciliation</th>
                                    <th>Devise</th>
                                    <th style="width: 10%;">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Crédit agricole</td>
                                    <td>13002 - Marseille</td>
                                    <td>Euro</td>
                                    <td class="centrer"><a class="iconmod" href="#"><i class="bi bi-pencil-square"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}