{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--**********************************
            Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Gestion</a></li>
            <li class="breadcrumb-item"><a href="#">Nouvelle devise</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Période</h4>
                        </div>
                        <div class="card-body" style="padding-bottom: 30px;">
                            <select class="dropdown-groups form-select">
                                <option></option>
                                <option> 1er trimestre 2021</option>
                                <option> 2ème trimestre 2021</option>
                                <option> 3ème trimestre 2021</option>
                                <option> 4ème trimestre 2021</option>
                                <option> 1er trimestre 2022</option>
                                <option> 2ème trimestre 2022</option>
                                <option> 3ème trimestre 2022</option>
                                <option> 4ème trimestre 2022</option>
                                <option> 1er trimestre 2023</option>
                                <option> 2ème trimestre 2023</option>
                                <option> 3ème trimestre 2023</option>
                                <option> 4ème trimestre 2023</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Devise</h4>
                        </div>
                        <div class="card-body" style="padding-bottom: 30px;">
                            <input type="text" class="form-control" placeholder="" required="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Devise</h4></div>
                        <div class="card-body">
                            <div class="form-validation">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Symbole</label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Conversion</label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 ms-auto">
                                    <button type="submit" class="btn btn-primary valider">Valider</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}