{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Assurés</a></li>
            <li class="breadcrumb-item"><a href="#">Nouveau Navire</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Navires</h4></div>
                        <div class="card-body">
                            <div class="form-validation">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="col-lg-12 col-form-label">Nom du navire<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Immatriculation
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Type
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Pavillon
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Année
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Tonnage en GT
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Tonnage en TJB
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Longueur
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Largeur
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Code IMO
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Matériau
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Classe
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Port d’attache
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 parent-div">
                    <div class="card" id="copy-this-div">
                        <div class="card-header"><h4 class="card-title">Moteurs</h4></div>
                        <div class="card-body">
                            <div class="form-validation">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Puiss. Totale</label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Carburant / Energie</label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Année</label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Type</label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Marque</label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Nombre </label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success add-btn">Ajouter un moteur</button>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-12 ms-auto">
                        <button type="submit" class="btn btn-primary valider">Valider</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}