{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Assurés</a></li>
                <li class="breadcrumb-item"><a href="#">Nouveau Navire</a></li>
            </ol>
        </div>
        <div class="container-fluid">
            <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4 class="card-title">Navires</h4></div>
                            <div class="card-body">
                                <div class="form-validation">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="col-lg-12 col-form-label" for="{{ form.nom_navire.id_for_label }}">Nom du navire<span class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                            {{ form.nom_navire }}
                                            {% if form.nom_navire.errors %}
                                                {% for error in form.nom_navire.errors %}
                                                    <p class="text-danger">{{ error|escape }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.immatriculation.id_for_label }}">Immatriculation</label>
                                            <div class="col-lg-12">
                                                {{ form.immatriculation }}
                                                {% if form.immatriculation.errors %}
                                                    {% for error in form.immatriculation.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.type.id_for_label }}">Type</label>
                                            <div class="col-lg-12">
                                                {{ form.type }}
                                                {% if form.type.errors %}
                                                    {% for error in form.type.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.pavillon.id_for_label }}">Pavillon</label>
                                            <div class="col-lg-12">
                                                {{ form.pavillon }}
                                                {% if form.pavillon.errors %}
                                                    {% for error in form.pavillon.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.annee.id_for_label }}">Année</label>
                                            <div class="col-lg-12">
                                                {{ form.annee }}
                                                {% if form.annee.errors %}
                                                    {% for error in form.annee.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.tonnage_gt.id_for_label }}">Tonnage en GT</label>
                                            <div class="col-lg-12">
                                                {{ form.tonnage_gt }}
                                                {% if form.tonnage_gt.errors %}
                                                    {% for error in form.tonnage_gt.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.tonnage_tjb.id_for_label }}">Tonnage en TJB</label>
                                            <div class="col-lg-12">
                                                {{ form.tonnage_tjb }}
                                                {% if form.tonnage_tjb.errors %}
                                                    {% for error in form.tonnage_tjb.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.longueur.id_for_label }}">Longueur</label>
                                            <div class="col-lg-12">
                                                {{ form.longueur }}
                                                {% if form.longueur.errors %}
                                                    {% for error in form.longueur.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.largeur.id_for_label }}">Largeur</label>
                                            <div class="col-lg-12">
                                                {{ form.largeur }}
                                                {% if form.largeur.errors %}
                                                    {% for error in form.largeur.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.code_imo.id_for_label }}">Code IMO</label>
                                            <div class="col-lg-12">
                                                {{ form.code_imo }}
                                                {% if form.code_imo.errors %}
                                                    {% for error in form.code_imo.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.materiaux.id_for_label }}">Matériau</label>
                                            <div class="col-lg-12">
                                                {{ form.materiaux }}
                                                {% if form.materiaux.errors %}
                                                    {% for error in form.materiaux.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.classe.id_for_label }}">Classe</label>
                                            <div class="col-lg-12">
                                                {{ form.classe }}
                                                {% if form.classe.errors %}
                                                    {% for error in form.classe.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label class="col-lg-12 col-form-label" for="{{ form.port_attache.id_for_label }}">Port d’attache</label>
                                            <div class="col-lg-12">
                                                {{ form.port_attache }}
                                                {% if form.port_attache.errors %}
                                                    {% for error in form.port_attache.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 parent-div">
                        {{ contact_formset.management_form }}
                        {% for sub_form in contact_formset.forms %}
                            <div class="card" id="copy-this-div">
                                <div class="card-header">
                                    <h4 class="card-title">Moteurs</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-validation">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.puissance_tot.id_for_label }}">Puiss. Totale</label>
                                                <div class="col-lg-12">
                                                    {{ sub_form.puissance_tot }}
                                                    {% if sub_form.puissance_tot.errors %}
                                                        {% for error in sub_form.puissance_tot.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.carburant.id_for_label }}">Carburant / Energie</label>
                                                <div class="col-lg-12">
                                                    {{ sub_form.carburant }}
                                                    {% if sub_form.carburant.errors %}
                                                        {% for error in sub_form.carburant.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.annee.id_for_label }}">Année</label>
                                                <div class="col-lg-12">
                                                    {{ sub_form.annee }}
                                                    {% if sub_form.annee.errors %}
                                                        {% for error in sub_form.annee.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.type.id_for_label }}">Type</label>
                                                {{ sub_form.type }}
                                                {% if sub_form.type.errors %}
                                                    {% for error in sub_form.type.errors %}
                                                        <p class="text-danger">{{ error|escape }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.marque.id_for_label }}">Marque</label>
                                                <div class="col-lg-12">
                                                    {{ sub_form.marque }}
                                                    {% if sub_form.marque.errors %}
                                                        {% for error in sub_form.marque.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="col-lg-12 col-form-label" for="{{ sub_form.nombre.id_for_label }}">Nombre </label>
                                                <div class="col-lg-12">
                                                    {{ sub_form.nombre }}
                                                    {% if sub_form.nombre.errors %}
                                                        {% for error in sub_form.nombre.errors %}
                                                            <p class="text-danger">{{ error|escape }}</p>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-success add-btn">Ajouter un moteur</button>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12 ms-auto">
                            <button type="submit" class="btn btn-primary valider">Valider</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!--**********************************
        Content body end
    ***********************************-->
{% endblock %}