{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
            Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Gestion</a></li>
            <li class="breadcrumb-item"><a href="#">Outils</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            CONTENU
        </div>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}