{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Gestion</a></li>
            <li class="breadcrumb-item"><a href="#">Nouvelle réclamation</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Réclamation</h4></div>
                        <div class="card-body">
                            <div class="form-validation">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Statut <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <select id="single-select" class="form-select">
                                                <option value="encours">En cours</option>
                                                <option value="cloture">Cloturé</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label">Objet <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <select id="single-select" class="form-select">
                                                <option></option>
                                                <option> Délai de traitement</option>
                                                <option> Non réception de carte tiers</option>
                                                <option> Problème d'expertise</option>
                                                <option> Augmentation de tarifs</option>
                                                <option> Documents non reçus</option>
                                                <option> Autre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Date de la réclamation <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" id="date-format" class="form-control" placeholder=""
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Date de saisie <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" id="date-format" class="form-control" placeholder=""
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label"> Date d'accusé de réception <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" id="date-format" class="form-control" placeholder=""
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label"> Date de la réponse <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" id="date-format" class="form-control" placeholder=""
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label"> Canal d'arrivée <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="col-lg-12 col-form-label"> Provenance de la réclamation <span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Client</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select">
                                                <option></option>
                                                <option>Client 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Assureur</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select">
                                                <option></option>
                                                <option>Assureur 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Contrat</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select">
                                                <option></option>
                                                <option>Contrat 1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">Auteur</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select">
                                                <option></option>
                                                <option>Colab 1</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="col-lg-12 col-form-label">Fichiers<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="file" class="form-control-file">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="col-lg-12 col-form-label">Commentaire Réclamation<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <label class="col-lg-12 col-form-label">Commentaire Réponse</label>
                                        <div class="col-lg-12">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 ms-auto">
                                    <button type="submit" class="btn btn-primary valider">Valider</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}