{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
            Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Contrats</a></li>
            <li class="breadcrumb-item"><a href="#">Nouveau risque</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Risque</h4></div>
                        <div class="card-body">
                            <div class="form-validation">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Type</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select" required>
                                                <option></option>
                                                <option value="Maritime">Maritime</option>
                                                <option value="Terrestre">Terrestre</option>
                                                <option value="Aérien">Aérien</option>
                                                <option value="Autre">Autre</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Intitulé<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Assureur<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select">
                                                <option>-</option>
                                                <option>Assureur 1</option>
                                                <option>Assureur 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">CG<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="file" class="custom-file-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">IPID<span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-12">
                                            <input type="file" class="custom-file-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">FC<span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-12">
                                            <input type="file" class="custom-file-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label class="col-lg-12 col-form-label">CP<span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-12">
                                            <input type="file" class="custom-file-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 ms-auto">
                                    <button type="submit" class="btn btn-primary valider">Valider</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}