{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--**********************************
            Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Contrats</a></li>
            <li class="breadcrumb-item"><a href="#">Nouvelle taxe</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <form class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4 class="card-title">Taxe</h4></div>
                        <div class="card-body">
                            <div class="form-validation">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="col-lg-12 col-form-label">Type</label>
                                        <div class="col-lg-12">
                                            <select class="dropdown-groups form-select" required>
                                                <option></option>
                                                <option value="Type1">Assurance Transports terrestres et aériens
                                                </option>
                                                <option value="Type2">Assurance maritime : Sport, plaisance</option>
                                                <option value="Type2">Navire de pêche, commerce</option>
                                                <option value="Type2">FGTI</option>
                                                <option value="Type2">Autres</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="col-lg-12 col-form-label">Intitulé<span
                                                class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-4 col-form-label">Année<span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Assiette<span
                                                class="text-danger">*</span></label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Taux</label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="col-lg-12 col-form-label">Montant</label>
                                        <div class="col-lg-12">
                                            <input type="number" class="form-control" placeholder="" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 ms-auto">
                                    <button type="submit" class="btn btn-primary valider">Valider</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}