{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--**********************************
                Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">Gestion</a></li>
                <li class="breadcrumb-item"><a href="#">Nouvel utilisateur</a></li>
            </ol>
        </div>
        <div class="container-fluid">
            <form class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Statut</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="mb-3 mb-0">
                                                {{ form.statut }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Société</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="mb-3 mb-0">
                                                {{ form.entreprise }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4 class="card-title">Utilisateur</h4></div>
                            <div class="card-body">
                                <div class="form-validation">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="col-lg-12 col-form-label" for="{{ form.role.id_for_label }}">Role<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                {{ form.role }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.civilite.id_for_label }}">Civilité <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                {{ form.civilite }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.nom.id_for_label }}">Nom <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                {{ form.nom }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.prenom.id_for_label }}">Prénom(s) <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-12">
                                                {{ form.prenom }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.email.id_for_label }}">Email<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                {{ form.email }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.mdp.id_for_label }}">Mot de passe<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                {{ form.mdp }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="col-lg-12 col-form-label" for="{{ form.avatar.id_for_label }}">Avatar<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-lg-12">
                                                {{ form.avatar }}
                                            </div>
                                        </div>

                                        <div class="col-lg-12 ms-auto">
                                            <button type="submit" class="btn btn-primary valider">Valider</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
        </div>

    </div>
    <!--**********************************
        Content body end
    ***********************************-->
{% endblock %}